<div class="card alert-danger">
	<div class="card-header">
		<h1 class="h4 m-0 p-0">
			<svg class="size-1-point-4-rem m-0 p-0" role="presentation">
				<use xlink:href="/Style/Icons/sprite.svg#alert-octagon" />
			</svg>
			Access denied
		</h1>
	</div>
	<div class="card-body">
		<p>You do not have access to the resource you are trying to reach.</p>
	</div>
</div>